    body {
        box-sizing: border-box;
        /*margin-top: 20px;
        margin-bottom: 50px;*/
    }
    
    main .container{
        background-color: white;
        max-width:1020px;
        position: relative;
                
        padding:0 30px 60px 30px;
        margin-top: -30px;
    }
    .img-1{
        margin: 15px 0;
    }
    .imgs{
        margin-top: 20px;
    }
    .contact{
        position: relative;
        top: 30px;
        margin-bottom: 10px;
        padding: 30px 0;
    }
    .nav-container{
        z-index: 0;
        display: block;
    }
    .navi{
        box-sizing: border-box;
        border: 1px solid #B0A8A8;
        position: relative;
        top: 60px;
        padding:0;
        overflow: hidden;
        margin: 0 0 15px 0;
        text-align:left;
        
    }
    
    
    ul{
        list-style-type: none;
        text-align : left;
        padding: 1px, 0;
        margin: auto;
        -webkit-padding-start: 7px;
        

    }
   li {
       display: list-item;
       margin: 6px 0;
       
   }
   .offers ul li a{
       color:#007BCA;
   }
   
   .navbar.navbar-inverse.nav2{
            background-color:#fff;
            height:80px;
            margin-top: -20px;
            border-color: #fff;
        }

    .center-block{
            text-align: center;
            padding-top: 13px;
            color: #fff;
            background-color: #000;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #icon{
            margin-left: 20px;
        }
    .navbar.navbar-default{
            
            background-color: #fff;
        }
   
   .subnavi1{
       border: none;
       padding: 0px 15px 0 15px;
       margin: auto;
   }
   .subnavi1 .ul li {
       border: none;
    border-bottom: 1px solid #436BC8;
    padding: 10px 0;
    margin: 0;

   }
   .navbar-toggle {
    padding: 9px 0px;
   }
   .subnavi2{
    border: none;
    border-bottom: 1px solid #B0A8A8;
    padding: 10px 0 10px 0;
    margin: 0;
   }
   a{
       color: #000000;
   }
   .expand:after {
    content: " Show less";
}
    
/* Icon when the collapsible content is hidden */
.expand.collapsed:after {
    content: " Show more";
}

/*======= Contact Form =======*/
    form {
      display: block;
      text-align: left;
    }
    #formDiv {
    box-shadow: 8px 8px 8px 8px #888888;
    margin-top:5%;
      margin-bottom: 3%;
}
    textarea {
      border-radius: 5px;
      background-color: #fff;
      }

    fieldset {
      padding-top: 20px;
      padding-right: 5px;
      padding-bottom: 20px;
      padding-left: 5px;
      background-color:#fff;

    }
    .btn-out-area{
      border:3px solid #fff;
      background-color: #d3d3d3;
    }
    .btn-in-area{
      background-color: orange;
      border: 1px solid orange;
      text-align: center;
      color:#fff;
      background-color: blue;
      border: 1px solid blue;
      text-align: center;
      color:#fff;
      width: 60%;
      margin:2%;
    }
    textarea {
      border-radius: 0 0 0 0;
    }
    .wrapper{
      position: relative;
      overflow: hidden;
      width: 100%;
      margin-bottom: 8px;
    }
    .file-wrapper {
      display: inline-block;
      
    }
    .file {
      border:1px solid #000;
      padding:5px;
    }